
html {
    scroll-behavior: smooth;
}

@media (max-width: 900px) {
    .MuiToolbar-root {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }

    .search-bar {
        display: none !important;
    }
}

@media (max-width: 600px) {
    .MuiTypography-h6 {
        font-size: 1.1rem !important;
    }

    .auth-buttons .MuiButton-root {
        padding-left: 8px !important;
        padding-right: 8px !important;
        font-size: 0.8rem !important;
        min-width: auto !important;
    }
}