# Build outputs
bin/
obj/
*.dll
*.exe
*.pdb
*.cache
*.log

# .NET-related
project.lock.json
project.fragment.lock.json
artifacts/
*.csproj.user
*.suo
*.user
*.userosscache
*.sln.docstates

# EF Core migrations snapshot (opcjonalnie)
*Migrations/*Snapshot.cs

# Rider
.idea/
*.iml
*.ipr
*.iws
rider.*

# VS Code
.vscode/

# Node.js
node_modules/
dist/
build/

# Misc
.env
*.DS_Store
*.swp
*.bak
*.tmp
*.orig.idea/
